<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.userhook">


    <uses-permission android:name="android.permission.INTERNET" />

    <!-- used to allow users to upload images (ex. screenshots) from their device -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>



        <!-- User Hook -->
        <activity android:name="com.userhook.view.UHHostedPageActivity"
            android:theme="@style/UserHook"
            />

        <!-- User Hook Push Setup -->
        <service
            android:name="com.userhook.push.UHFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.userhook.push.UHFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
