<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cullaboration.userhookdemo">


    <uses-permission android:name="android.permission.INTERNET" />


    <!-- User Hook Push Permissions -->
    <permission android:name="com.cullaboration.userhookdemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cullaboration.userhookdemo.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CustomFieldActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".PurchaseActivity"
            android:parentActivityName=".MainActivity"
            />


        <!-- User Hook -->
        <activity android:name="com.userhook.UHHostedPageActivity"
            android:theme="@style/UserHook"
            />

        <!-- User Hook Push Setup -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.cullaboration.userhookdemo" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.userhook.push.UHGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.userhook.push.UHInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.userhook.push.UHRegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
